.modal-on {
  position: fixed;
  width: 100%;
  left: 0%;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  text-align: center;
  backdrop-filter: blur(3px);
  background-color: rgba(51, 49, 49, 0.13);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-section {
  background-color: rgb(20, 20, 20);
  height: 100vh;
  color: white;
  overflow: auto;
  box-sizing: border-box;
}

.main-section::-webkit-scrollbar {
  display: none;
}

.main-section-header {
  background-color: rgb(20, 20, 20);
  top: 0;
  position: sticky;
  z-index: 2;
  padding-bottom: 20px;
}

.button {
  /* font-size: 20px; */
  background-color: rgba(51, 49, 49, 0.13);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  outline: 1px solid white;
  border-radius: 5px;
  /* border-radius: 20px; */
}

.button:hover{
  background-color: white;
  color: black;
}

.transactions-title {
  font-size: x-large;
}

.app-description {
  color: #717579;
  font-size: small;
  line-height: 0;
  padding-bottom: 20px;
}
