.side-nav-title {
    margin-top: 0;
    padding-top: 20px;
    font-size: x-large;
    /* color: rgb(0, 132, 255); */
}

.side-nav {
    color: white;
    /* height: 100vh; */
}

.side-nav-item {
    list-style: none;
    padding-top: 20px;
    text-align: left;
    float: left;
    display: flex;
    font-size: small;
    padding-bottom: 10px;
}

.nav-item {
    padding-left: 40px;
}

.side-nav-items {
    padding: 0;
}

a {
    cursor: pointer;
}