.transactions-header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(20, 20, 20);
    top: 0;
    position: sticky;
    z-index: 1;
    padding-bottom: 20px;
}

.add-container {
    display: inline-flex;
    align-items: center;
}

.add-button { 
    color: green;
}

.add-button:hover {
    cursor: pointer;
    color: white;
}