.list-item-row {
    padding: 0;
    font-size: small;
    font-family: Sans-serif;
}

.list-item-row li {
    display: inline-block;
}

.header {
    font-weight: bold;
}

.list-items-card {
    background-color: black;
    color: white;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid rgba(197, 196, 196, 0.267);
}

.list-items-card__header {
    line-height: 0;
    display: flex;
    justify-content: space-between;
}

.add-button:hover{
    cursor: pointer;
}

.lic-btn {
    /* width: 10%; */
    padding: 5px 0px;
}

.edit-item {

}

.delete-item {
    margin-left: 10px;
}