.empty-card {
    color: white;
    overflow: auto;
    border-radius: 5px;
    border: 1px solid rgba(197, 196, 196, 0.267);
    max-height: 40vh;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}

.unpadded-top {
    padding: 0px 20px 20px;
}

.padded-around {
    padding: 20px;
}

.empty-card::-webkit-scrollbar {
    display: none;
}