.balance-card {
    /* background-color: white; */
    /* background-color: black; */
    color: white;
    border-radius: 10px;
    padding: 20px;
    /* box-shadow: 0px 1px 1px 0px rgb(194, 191, 191); */
    border: 1px solid rgba(197, 196, 196, 0.267);
}

.balance{
    font-weight: bold;
}

.bc-vl {
    height: 60px;
    border-left: 1px solid rgba(197, 196, 196, 0.267);
    margin-left: 50%;
  }

.bal {
    color: #717579;
    font-size: small;
    line-height: 0;
    /* padding-bottom: 20px; */
  }

.percentage {
    text-align: center;
    padding: 5px;
    border-radius: 80px;
    font-size: small;
    font-weight: bold;
    /* color: #008533" #e40000; */
    color: #ff5d5d;
}