.modal {
  background-color: white;
  color: black;
  margin-top: -10%;
  width: 25%;
  max-height: 50vh;
  outline-style: solid;
  outline-width: thin;
  outline-color: rgb(212, 212, 212);
  border-radius: 5px;
  z-index: 5;
  padding: 20px 0px;
}

.input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;

  background-color: white;
  color: black;
  border-radius: 5px;
  border: 1px solid rgb(216, 215, 215);
  transition: 0.3s border-color;
  box-sizing: border-box;
}

.close-btn {
  width: 10%;
  padding: 5px 0px;
}

.form {
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}

.submit-btn,
.close-btn {
  width: 100%;
  padding: 10px 0px;
}

.log-another-label {
  font-size: 14px;
  padding-left: 8px;
}

input[type="checkbox"] {
  float: left;
  line-height: 0;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

.log-another-label:hover {
  cursor: pointer;
}
