.investments-card {
    /* padding: 0px 10px; */
    background-color: black;
    color: white;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid rgba(197, 196, 196, 0.267);
}

.investments-header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(20, 20, 20);
    top: 0;
    position: sticky;
    z-index: 1;
    /* padding-bottom: 20px; */
}