body {
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    padding-left: 10px;
    padding-top: 20px;
}

.vl {
    border-left: 1px solid rgba(197, 196, 196, 0.267);
    height: 100vh;
    position: fixed;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(197, 196, 196, 0.267);
}

.list-item-row {
    padding: 0;
    font-size: small;
    font-family: Sans-serif;
}

.list-item-row li {
    display: inline-block;
}

.btn {
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.308);
    background-color: rgb(20, 20, 20);
    color: white;
}

.btn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.title {
    line-height: 0;
}

.modal-on {
    position: fixed;
    width: 100%;
    left: 0%;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    text-align: center;
    backdrop-filter: blur(3px);
    background-color: rgba(51, 49, 49, 0.13);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

